{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - purchase
{% endblock title %}

{% block top %}
    <section id="home">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('bundles/app/images/slider/bg4.jpg') }}" alt="slider">
                </div>
            </div>
        </div>
    </section>
{% endblock top %}

{% block content %}
    <section id="twitter">
        <div id="twitter-feed" class="carousel slide" data-interval="false">
            <div class="row">
                {% for concert in concerts %}
                    <div class="col-md-6">
                        <div class="blog-post ">
                            <h2>{{ concert.nom }}</h2>
                            <p>select the number of place
                            
                              <select>
                                 {%for nombredeplace in range (1,concert.nombredeplace)%}
                                     <option value ="{{nombredeplace}}"> {{nombredeplace}}</option>
                                     {%endfor%}
                                  </select></p>
                                <h2> prix:{{ concert.prix }}</h2>
                                  <h2> address:{{ concert.address }}</h2>
                            
                            
                            <a href="{{ path('reserve tickets') }}" class="btn btn-info pull-right" role="button">BUY Tikett</a>
                        </div>
                    </div>
                {% else %}
                    Sorry there no blog post yet.
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}